/* start navigation*/

.navbar-brand{
	font-family: 'Henny penny', cursive;
	background:#6a197d;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	background-clip: text;

}



.navbar-brand{
	padding: 0 2rem 0 5rem;
}
.navbar{
	padding: 1rem 5rem;
}
.nav-link{
	font-family: 'Krona', cursive;
	text-transform: uppercase;
	font-weight: 300;
	padding: 1rem;
	color: black; 
}
.navbarhome{
	background:#6a197d;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	background-clip: text;
}
.navbarall:hover{
	background:#6a197d;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	background-clip: text;
}

/* End navigation*/

/* start banner-site */

.site-title{
	font-family: 'Krona', cursive;
	padding: 30px;

}
.site-title h3{
	margin-bottom: 20px;
	padding-top: 13%;
}
.btn{
	margin-top: 7%;
}
.site-banner{
	background:url(./img/bgcolor.png)no-repeat;
	background-position: 0% 20%;
}


/* End banner site */

/* start button */

.button{
	padding: .8rem 2.2rem;
	position: relative;
	border: 3px solid transparent;
	border-radius: 4px;
	box-shadow:10px 10px 40px grey; 
}
	
}
.button:hover{
	background:#dbc6eb;


}
/* end button */
/* start about us */
.pt-5{
	font-family: 'Krona',cursive;
	
}
/* end about us*/

